/* ---- Rank ---- */
.rank_container { 
	padding-left: 40px; 
	padding-right: 40px; 

	.ranks .rank { 
		background-color: #FEFEFE; 
		border: 1px solid rgba(112, 112, 112, 0.6); 
		border-radius: 4px; 
		color: #313636;
		font-size: 18px; 
		font-weight: 700; 
		line-height: 24px; 
		max-width: 823px; 
		min-height: 48px; 
		padding: 8px 24px; 
		position: relative; 
		display: flex; 
		align-items: center; 
		width: 100%; 

		&:hover { 
			background-color: #155E85; 
			color: #FEFEFE; 
			padding: 8px 56px 8px 24px; 

			.rank-actions { 
				display: flex; 
			}
		}

		&:first-child .rank-actions a.rank-action[data-action="up"], 
		&:last-child .rank-actions a.rank-action[data-action="down"] { 
			display: none; 
		}

		.rank-content {
			.rank-num { 
				width: 30px; 
			}

			.rank-answer { 
				word-break: break-all; 
			}

			span { 
				display: inline-block; 
			}
		}

		.rank-actions { 
			display: none; 
			position: absolute; 
			right: 24px; 
			top: 50%; 
			transform: translateY(-50%); 
			-webkit-transform: translateY(-50%); 

			a.rank-action { 
				display: block; 
				width: 32px; 
				height: 32px; 
				background-size: 100%; 

				&[data-action="down"] { 
					background-image: url(../../../images/circle-chevron-bottom.svg); 
				}

				&[data-action="up"] { 
					background-image: url(../../../images/circle-chevron-top.svg); 
				}
			}
		}
		
		&:not(:first-child) .rank-actions a.rank-action[data-action="down"] { 
			margin-right: 24px; 
		}
	}	
}

// .rank-intro { 
// 	font-size: 22px; 
// 	line-height: 36px; 
// 	color: #313636; 
// 	margin-bottom: 32px; 
// }

@media only screen and (max-width: 767px) {
	.rank_container { 
		padding: 0; 

		.ranks .rank { 
			font-size: 14px; 
			line-height: 20px; 
			padding: 10px 100px 10px 12.5px; 

			&:hover { 
				padding: 10px 100px 10px 12.5px; 
			}

			.rank-content {
				.rank-num { 
					width: auto; 
				}

				span { 
					display: inline; 
				}
			} 

			.rank-actions { 
				display: flex; 

				a.rank-action {
					height: 24px;
					width: 24px;
				}
			}

			&:not(:first-child) .rank-actions a.rank-action[data-action="down"] {
				margin-right: 20px;
			}
		}
	}
	
	// .rank-intro { 
	// 	font-size: 18px; 
	// 	line-height: 28px; 
	// 	margin-bottom: 24px; 
	// }
}

/* ---- Rank Result ---- */
#result_wrapper {
	.well-done-icon { 
		width: 161px; 
		max-height: initial; 
	}

	.ranking-result-tips { 
		font-size: 16px; 
		line-height: 24px; 
	}

	.ranking-result { 
		text-align: center;
		&:first-of-type{
			.ranking-result-body{
	
				background-color: #EEF5FA; 
			}
		}
		 
	}

	.ranking-result-body { 
		background-color: #f7f7f7; 
		border-radius: 8px; 
		margin-top: 38px; 
		padding: 18px 24px 32px; 

		h4 { 
			font-weight: 700; 
			text-transform: uppercase; 
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0.6px; 
		}
	}

	.ranking-result-body-content { 
		display: flex; 
		flex-direction: column;
		justify-content: space-between;
		background-color: #fff;
		border-radius: 8px;
		align-items: center;
		padding: 16px 12px; 

		h3 { 
			font-weight: 700;
			font-size: 18px;
			line-height: 24px; 
		}

		.ratings-icon { 
			margin-right: 12px; 
			margin-top: 10px; 

			svg { width: 38px; }
		}
		
		.ratings-row { 
			display: flex; 
			align-items: center; 
		}

		.ratings-body { 
			display: flex; 
			align-items: center; 
		}

		.ratings-rate { 
			margin-bottom: 0; 
			color: rgba(21,94,133,.6); 
			font-size: 20px; 
			font-weight: 300;
			width: auto;
			line-height: 24px;
			display: flex;
			align-items: center; 

			p { 
				margin-bottom: 0; 
			}
		}
		
		.ratings-rate-points { 
			font-size: 14px; 
			margin-left: 12px; 
			text-transform: uppercase; 
		}

		.ratings-rate-hightlight { 
			font-weight: 700; 
			font-size: 20px; 
			color: #155e85; 
		}

		.ratings-rate-dash { 
			margin: 0 5px; 
		}
	}
	
	.ranking-result-bottom { 
		display: flex; 
		flex-direction: column; 
		justify-content: space-between; 
		align-items: center; 
		margin-top: 20px; 

		.goto_btn { 
			margin-top: 0; 
			margin-right: 1rem;
			& > a { 
				background-color: #d34600;
				border: 1px solid #d34600;
				border-radius: 4px; 
				box-shadow: 0 4px 8px #70707052;
				color: #fefefe;
				font-size: 16px;
				font-weight: 700;
				width: auto;
				min-width: 210px;
				line-height: 20px;
				text-align: center;
				padding: 11px 20px; 
				transition: all .3s ease;
				-webkit-transition: all .3s ease;

				&:hover {
					background-color: #ff5907;
					border-color: #ff5907;
					text-decoration: underline;
				}
			}
		}
		
		p { 
			width: auto !important; 
			margin-bottom: 0; 
		}

		a { 
			color: #155E85; 
			font-size: 14px; 
			font-weight: 700; 
			line-height: 20px; 
			margin-top: 32px; 
		}
	}
}


@media only screen and (min-width: 768px) {
	#result_wrapper {
		.well-done-icon { 
			width: 265px; 
		}

		.ranking-result-tips { 
			font-size: 18px; 
		}

		.ranking-result { 
			text-align: left; 
		}

		.ranking-result-body { 
			margin-top: 20px; 
			padding: 10px 24px 20px 24px; 

			h4 { 
				font-size: 14px; 
				line-height: 20px; 
				letter-spacing: 1.4px; 
			}
		}
		
		.ranking-result-body-content { 
			flex-direction: row; 

			h3 { 
				font-size: 24px; 
				line-height: 32px; 
			}

			.ratings-rate,
			.ratings-rate-hightlight,
			.ratings-rate-points { 
				font-size: 24px; 
			}
		}
		
		.ranking-result-bottom { 
			flex-direction: row; 

			a { 
				font-size: 21px; 
				line-height: 36px; 
				margin-top: 0; 
			}
		}		
	}
}